body {
    margin: 0;
    height: 100vh;

}


.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;




}


.col {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background: #36a386;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170px;
    cursor: pointer;


}



.row {
    display: flex;
    flex-direction: row;
}

@media all and (max-width:1024px) {
    .col {
        width: 160px;
        height: 160px;
    }
}

@media all and (max-width:670px) {
    .col {
        width: 100px;
        height: 100px;
        font-size: 80px;

    }
}






@media all and (max-width:505px) {
    .col {
        width: 90px;
        height: 90px;

    }
}
